<html lang="es">
    <head>
        <%- include("head.ejs") %>
    </head>
    <body id="container">
        <%- include("nav.ejs") %>
        <%- include("modales/modalBuscarEquipos") %>
        <%- include("modales/modalReporteEquipos") %>
        <%- include("modales/modalNuevoEquipo") %>
        <%- include("modales/modalPdf") %>
        <div class="container-fluid mt-5 mb-5 animated fadeIn">
            <div class="row justify-content-center">
                <div class="col-md-4 col-lg-4 col-xl-4 mt-5">
                    <div class="card">
                        <h2 class="card-header text-center font-weight-bold text-uppercase py-4 grey lighten-3">Reporte de estado</h2>
                        <div class="card-body">
                            <div class="ui segment">
                                <canvas id="graficaEquipos"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <h2 class="card-header text-center font-weight-bold text-uppercase py-4 grey lighten-3">Reporte por tipo</h2>
                        <div class="card-body">
                            <div class="ui segment">
                                <canvas id="graficaEquipos2"></canvas>
                            </div>
                        </div>
                    </div>
                    <% if (data.message.length > 0) { %>
                        <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                            <strong>"Ops!!! algo raro paso aca"</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    <% } %>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 mt-5 mb-3">
                    <div class="card">
                        <h2 class="card-header text-center font-weight-bold text-uppercase py-4 grey lighten-3">Listado de Equipos</h2>
                        <div class="card-body">
                            <span class="table-add float-right mb-3 mr-1">
                                <span data-toggle="modal" data-target="#modalReportePdf"><button id="btEntregaEquipos" class="btn red darken-1 text-white" data-toggle="tooltip" data-placement="left" title="Entrega de Equipos"><i class="fas fa-file-pdf"></i></button></span>
                                <span data-toggle="modal" data-target="#modalNuevoEquipo"><button id="btNuevoEquipo" class="btn btn-elegant" data-toggle="tooltip" data-placement="top" title="Agregar equipo"><i class="fas fa-plus"></i></button></span>
                                <span data-toggle="modal" data-target="#modalBuscar"><button class="btn light-green lighten-1 text-white" data-toggle="tooltip" data-placement="top" title="Buscar equipos"><i class="fas fa-search mr-1"></i></button></span>
                                <span data-toggle="modal" data-target="#modalReporte"><button class="btn orange text-white" data-toggle="tooltip" data-placement="right" title="Generar reporte"><i class="fas fa-file-excel"></i></button></span>
                            </span>
                            <table id="tabEquipos" class="table table-bordered table-striped text-center table-equipos">
                                <thead class="text-uppercase orange text-white">
                                    <th scope="col">Inventario</th>
                                    <th scope="col">Marca</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Ubicación</th>
                                    <th scope="col">Acción</th>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                            <nav aria-label="Page navigation example">
                                <ul id="pagination" class="pagination pagination-circle pg-dark justify-content-center">
                                
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/formularios/formEquipos.js"></script>
        <script src="/js/componentes/ajaxError.js"></script>
    </body>
</html>